numpy
scipy
librosa
audioread
scikits.samplerate
h5py
oauth2
xmltodict
requests
git+git://github.com/jasonrubenstein/python-7Digital.git
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.8.0-cp27-none-linux_x86_64.whl
flask
